
/* Site-wide stylesheet */


body, html {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Futura","Avenir", sans-serif;
    color: rgb(173, 216, 230);
    padding-top: 1em;
}

h1 {
    color: black;
}

p {
    font-size: 14pt;
}

/*body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

canvas {
    border: 2pt solid white;
    border:none;
}

input {
    font-size:15pt;
}

.bigbutton {
    font-size:30pt;
    padding:10pt;
    border: 2pt solid #af934c; /* Orange */
    border-radius:10pt;
    background-color: #af934c; /* Orange */
    color: white;
    background-image: linear-gradient(#ffeec4, #edbb3e);

    transition-duration: 0.4s;
}

.bigbutton:hover {
    background-color: white;
    background-image: none;
    color: #edbb3e; /* Orange */
}